extends layout

block content 
	h1 Genre: #{genre.name}

	div(style='margin-left:20px;margin-top:20px;')

		h4 Books

		dl 
		each book in genre_books
			dt
				a(href=book.url) #{book.title}
			dd #{book.summary}

		else 
			p this genre has no books.
